{{> header title="Tobey Maguire | Multiverse"}}
    <div class="s-wrapper">
        {{> videoBackground video="spiderman2-2004-trailer"}}
        <div class="s-left-column">
            {{> navbarside icon="spiderman1"}}
                <ul>
                    {{#each link}}
                        <li><a href="{{this.linkSite}}">{{this.num}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="s-main-content">
            <div class="s-main-content__top">
                {{> logoHero logoFilm="spiderman-tobey/movie-02/logo"}}

                {{> sinopsis
                    year= 2004 director="Sam Raimi"
                    resumen="Como si Peter Parker no tuviera suficiente con sus propios problemas, estudios y su amor por Mary Jane, ahora tiene que salvar a la ciudad de un nuevo villano, el Doctor Octopus"
                }}

                {{> playTrailer linkTrailer="https://www.youtube.com/watch?v=cCXW3KE8Bto"}}
            </div>
            <div class="s-main-content__bottom">
                <div class="gallery">
                    <ul>
                        {{#each picture}}
                            <li><a data-fancybox href="/images/spiderman-tobey/movie-01/gallery/image-01-full.jpg"><img src="/images/{{this.actor}}/movie-{{this.numFolder}}/gallery/image-{{this.num}}.png" alt=""></a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{> footer}}